* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E88E5;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

#container {
  width: 1200px;
  min-height: 500px;
  padding: 45px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  margin-top: 25px;
}

#container header {
  position: relative;
}

#meal-title {
  font-size: 40px;
  text-align: left;
  margin: 20px;
}

#meal-options {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 350px;
}

.meal-search {
  width: 250px;
  height: 15px;
  border: 0;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#search-form{
  display: inline-block;
}

.btn {
  height: 35px;
  width: 35px;
  border: 0;
  padding: 13px;
  cursor: pointer;
  position: relative;
}

#refresh-btn {
  margin-left: 5px;
  border-radius: 8px;
  float: right;
}


.search-btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#meal-content {
  display: flex;
  min-height: 500px;
  margin-top: 15px;
  position: relative;
}

.box {
  margin: 15px;
  border-radius: 8px;
}

.shadow {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.an {transition: all 0.3s cubic-bezier(.25,.8,.25,1);}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#instructions {
  background-color: #F9FAF5;
  color: #000;
  padding: 25px;
}

#ingredients {
  background-color: #F9FAF5;
  color: #000;
  padding: 25px;
}

#meal-ingr {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  width: 100px;
}

#meal-img {
  width: 350px;
  border-radius: 8px;
}

#meal-video {
  width: 350px;
  margin-top: 15px;
}

#meal-cat { margin-top: 5px;}
#meal-cat::before {
  content: 'Category:';
  font-weight: bold;
  margin-right: 8px;
}

#error-msg {
  background-color: #D32F2F;
  border-radius: 8px;
  position: absolute;
  top: -60px;
  color: #fff;
  display: none;
  font-weight: bold;
}

#error-msg img {
  margin-top: 9px;
  margin-right: 10px;
}

#error-msg p {
  float: left;
  padding: 6px;
  margin-left: 5px;
  margin-right: 5px;
}

#error-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #D32F2F;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}
